.bubble {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-block: 1vw;
  padding-inline: 2vw;
  gap: 0;
  color: black;
  border-bottom: solid 1px var(--grey-github);
  line-height: 1rem;
}

.bubble :global {
  opacity: 0;
  animation: fadeInUp 500ms ease-in-out forwards;
}

.bubbleUser {
  flex-flow: row-reverse;
  background: rgba(100, 100, 100, 0.6);
}

.bubbleBot {
  background: rgba(220, 220, 220, 0.6);
}

.textBox {
  padding: 0 0.5rem;
  line-height: 1rem;
  margin: 0;
}

.avatar {
  /*margin-top: 0.5rem;*/
}
