.bubble {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 0;
  color: black;
  backdrop-filter: blur(6px);
  /*border-bottom: solid 1px var(--grey-github);*/
}

.bubble :global {
  opacity: 0;
  animation: fadeInUp 500ms ease-in-out forwards;
}

.bubbleUser {
  flex-flow: row-reverse;
  background: rgba(218, 223, 231, 0.6);
}

.bubbleBot {
  /*background: rgba(220, 220, 220, 0.6);*/
}

.textBox {
  all: unset;
  padding: 0 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Noto Sans SC", sans-serif;
  margin: 0;
  white-space: pre-line;
  overflow-wrap: break-word;
  width: fit-content;
  max-width: calc(100% - 1rem - 2 * 24px);
}

.avatar {
  /*margin-top: 0.5rem;*/
}
