.bar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.input {
  box-shadow: none;
  font-size: var(--s-1);
  font-family: "Noto Sans SC", sans-serif;
  border-radius: 0.25rem;
  color: var(--grey-darker);
  resize: none;
  overflow: auto;
  line-height: 1.5;
  padding: 0.5rem;
  border: solid 1px var(--crew-darker);
  background: none;
  flex: 8;
  /*white-space: nowrap;*/
}

.input:focus {
  outline: none;
  border: solid 1px black;
  color: black;
}

.input::placeholder {
  color: #c0c0c0;
}

.send {
  height: var(--button-size);
  width: 100%;
  background-color: var(--crew);
  border-radius: 0.25rem;
  user-select: none;
}

.sendDark {
  background-color: var(--crew-darker);
}

.retry {
  background-color: var(--retry-color);
}

.retryDark {
  background-color: var(--retry-color-darker);
}

.sendDisabled {
  background-color: var(--grey);
  color: var(--grey-darker);
}

.send, .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolMenu {
  position: absolute;
  bottom: calc(var(--button-size) + 3rem);
  border-radius: 0.25rem;
  width: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  opacity: 0;
  transition: all ease 200ms;
  transform: translateY(20%);
  gap: 0.5rem;
  /*box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);*/
  /*background-color: white;*/
  /*left: 2rem;*/
  /*padding: 0.5rem;*/
}

.toolMenuAppear {
  opacity: 1;
  transform: translateY(0);
}

.textButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.buttonFlex {
  max-width: var(--button-size);
  flex: 1;
}

