.bar {
  display: flex;
  height: var(--bar-height);
  gap: 0.5rem;
}

.input {
  flex: 8;
  box-shadow: none;
  color: var(--grey);
  font: var(--s-1);
}

.send {
  width: var(--bar-height);
  background-color: var(--crew);
}

.sendDark {
  background-color: var(--crew-darker);
}

.button {
  width: var(--bar-height);
}


.send, .input, .button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  border-radius: 100rem;
}
