.bar {
  --radius: 0.25rem;

  display: flex;
  height: var(--bar-height);
  gap: 0.5rem;
}

.input {
  flex: 8;
  background-color: var(--black);
  box-shadow: none;
  color: var(--grey);
  font: var(--s-1);
}

.send {
  width: var(--bar-height);
  background-color: var(--crew);
}

.sendDark {
  background-color: var(--crew-darker);
}

.button {
  width: var(--bar-height);
  background-color: black;
}

.record {
  flex: 8;
  border: black solid 2px;
  background: linear-gradient(180deg, rgba(50, 52, 56, 1) 0%, rgba(24, 24, 29, 1) 84%);
}

.recordBlack {
  background: var(--black);
}

.send, .input, .button, .record {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius);
}

.button {
  border-radius: 100rem;
}
