.bar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.input {
  box-shadow: none;
  font-size: var(--s-1);
  font-family: "Noto Sans SC", sans-serif;
  border-radius: 0.25rem;
  color: var(--grey-darker);
  resize: none;
  overflow: auto;
  line-height: 1.5;
  padding: 0.5rem;
  border: solid 1px var(--crew-darker);
  background: none;
  flex: 8;
  /*white-space: nowrap;*/
}

.input:focus {
  outline: none;
  border: solid 1px black;
  color: black;
}

.input::placeholder {
  color: #c0c0c0;
}

.button {
  height: var(--button-size);
  background-color: var(--crew);
  border-radius: 0.25rem;
  user-select: none;
}

.sendDark {
  background-color: var(--crew-darker);
}

.retry {
  background-color: var(--retry-color);
}

.retryDark {
  background-color: var(--retry-color-darker);
}

.buttonDisabled {
  background-color: var(--grey);
  color: var(--grey-darker);
}

.button, .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.buttonSquareFlex {
  max-width: var(--button-size);
  flex: 1;
}

.whiteMenuButton {
  background: rgba(255, 255, 255, 0.8);
}

.whiteMenuButtonDark {
  background: var(--grey);
}
