.bar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  resize: block;
  box-sizing: border-box;
  padding: 1rem;
}

.button {
  height: var(--button-size);
  background-color: var(--crew);
  border-radius: var(--small-radius);
  user-select: none;
  color: black;
}

.sendDark:active {
  background-color: var(--crew-darker);
}

.retry {
  background-color: var(--retry-color);
}

.retryDark:active {
  background-color: var(--retry-color-darker);
}

.stop {
  background-color: var(--stop-color);
}

.stopDark:active {
  background-color: var(--stop-color-darker);
}

.buttonCancel {
  background-color: var(--cancel-color);
}

.buttonCancelDark:active {
  background-color: var(--cancel-color-darker);
}

.buttonDisabled {
  background-color: var(--grey);
  color: var(--grey-darker);
}

.button, .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.buttonSquareFlex {
  max-width: var(--button-size);
  flex: 1;
}

.whiteMenuButton {
  background: rgba(255, 255, 255, 0.95);
}

.whiteMenuButtonDark:active {
  background: var(--grey);
}

.resizer {
  height: 8px;
  opacity: 0;
  cursor: ns-resize;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
