.background {
  background-color: var(--black);
  height: 100vh;
  color: var(--grey);
  width: 100vw;
}

.title {
  display: block;
  font-size: var(--s-2);
  margin: 0 auto;
  padding: 0.5rem 0;
  width: fit-content;
}

.card {
  --card-backgroud: #343541;

  position: relative;
  background-color: var(--card-backgroud);
  height: calc(100vh - var(--s-3) - 3rem);
  margin: 0 2rem 2.5rem 2rem;
  border-radius: 0.5rem;
}

.textArea {
  margin: 0;
  padding: 1rem 2rem;
  overflow: auto;
  height: calc(100% - 2rem - var(--bar-height));
  box-sizing: border-box;
}

.textArea::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.textArea::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: black;
}

.inputBar {
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: var(--card-backgroud);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
