.background {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.title {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 0;
  padding: 0;
  color: var(--grey-fatgpt);
  font-family: "Kalam", sans-serif;
  font-size: 30vw;
}

.card {
  --card-backgroud: #343541;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--grey-card);
  height: 100%;
  z-index: 1;
}

.textArea {
  margin: 0;
  overflow: auto;
  height: calc(100% - 2rem - var(--bar-height));
  box-sizing: border-box;
}

.textArea::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.textArea::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: black;
}

.inputBar {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
