.background {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 0;
  color: var(--grey);
}

.container {
  z-index: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.flex {
  display: flex;
  padding: 0.5rem 10vw 4rem 10vw;
  justify-content: center;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--black);
  width: max-content;
  height: max-content;
  border-radius: 1rem;
}

.input {
  background-color: var(--grey-darker);
  border: none;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

.button {
  background-color: var(--crew);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
}

.buttonAndRegister {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.anchor {
  color: var(--crew);
}
