.background {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.bodyDark {
  background: var(--dark-background);
}

.bodyDark::selection, .bodyDark *::selection {
  background: rgba(255, 255, 255, 0.4);
}

.bodyDark table, .bodyDark tr, .bodyDark th, .bodyDark td {
  border-color: var(--dark-font);
}

.title {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 0;
  padding: 0;
  color: var(--grey-fatgpt);
  font-family: "Kalam", sans-serif;
  font-size: 28vw;
  user-select: none;
}

.titleDark {
  color: rgba(100, 100, 100, 0.03);
}

.card {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--grey-card);
  height: 100%;
  z-index: 1;
}

.cardDark {
  background-color: rgba(0, 0, 0, 0.03);
}

@media only screen and (max-width: 1280px) {
  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 100%;
  }

  .textArea {
    padding: 0 2rem;
  }
}

.textArea {
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100% - 2rem - var(--button-size));
  box-sizing: border-box;
}

.inputBar {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--small-radius);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}

.inputBarDark {
  background: #23252a;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5);
}
